<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glimpz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DashboardActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity"/>
        <activity android:name=".JunrBeginer"/>
        <activity android:name=".ListBookBeginer"/>
        <activity android:name=".PlenKOkno"/>
        <activity android:name=".MozartOkno"/>
        <activity android:name=".ListBookMedium"/>
        <activity android:name=".MediumChoice"/>
        <activity android:name=".MyLevel"/>
        <activity android:name=".DoneBook"/>
        <activity android:name=".LikedBook"/>
        <activity android:name=".UniChoice"/>
        <activity android:name=".BeginerChoice"/>
        <activity android:name="JunrUni"/>
        <activity android:name=".ListBookUni"/>
        <activity android:name="NewTest"/>
        <activity android:name=".TestActivity"/>
        <activity android:name=".TestResult"/>
        <activity android:name="SettingsAcc"/>
        <activity android:name=".BaldaOkno"/>
        <activity android:name=".Library"/>
        <activity android:name=".KillmanOkno"/>
        <activity android:name=".KnarOkno"/>
        <activity android:name=".Rules"/>
        <activity android:name=".AccActivity" />
        <activity android:name=".screen.yourtests.YourTests"/>
        <activity android:name=".JunrMedium"/>
        <activity android:name=".PosleBalaOkno"/>
        <activity android:name=".RusalOkno"/>
        <activity android:name=".JukOkno"/>
        <activity android:name=".GoreOkno"/>
    </application>

</manifest>